<!DOCTYPE html>
<html>
<head>
  <title>Meeting room</title>
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
    window.HOST = <%- '"' + host + '"' %>;
    window.call = <%- JSON.stringify(call, null, 2) %>;
  </script>
</head>
<body>
  <div id="main">
    <div id="local-streams"></div>
    <div id="remote-streams"></div>
    <div id="log"></div>
    <div id="url-div"></div>
  </div>
  <script src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/app.js"></script>
</body>
</html>
