<!DOCTYPE html>
<html>
<head>
  <title>Meeting room</title>
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script>
    window.HOST = <%- '"' + host + '"' %>;
  </script>
</head>
<body>
  <div class="wrapper">
    <div id="display"></div>
  </div>

  <footer>
    <div class="wrapper">
      <a href="/new">Start another call</a>
    </div>
  </footer>

  <script type="text/javascript">
    window.call = <%- JSON.stringify(call, null, 2) %>;
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/app.js"></script>
</body>
</html>
