body {
  font-family: monospace;
  font-size: 16px;
  line-height: 150%;
}

a { color: blue; }

body {
    max-width: 80%;
    margin: auto;
}

#log {
    margin: 20px;
    text-align: center;
}

#url {
    text-align: center
}

#url {
    border: none;
    width: 100%;
}

#local-streams {
    text-align: center;
}

#remote-streams {
    text-align: center;
}

#local-streams > video {
    width: 200px;
    height: 200px;
}

#remote-streams > video {
    width: 400px;
    height: 400px;
}

