body {
  font-family: monospace;
  font-size: 16px;
  line-height: 150%;
}

a { color: blue; }

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.overview {
  padding-top: 10%;
}

#display {
  padding-top: 24px;
}

#display > div {
  padding-left: 30px;
  text-indent: -30px;
}

#display > input {
  display: block;
  width: 90%;
  font-size: inherit;
  line-height: inherit;
}

video {
    width: 320;
    height: 320;
}
